<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo">

    <application
        android:name=".zee.chapter02.f.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".jiufengte.JiufengteActivity"
            android:label="@string/app_name">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>



        <activity android:name="com.demo.jiufengte.chapter01.Activity01" />
        <activity android:name="com.demo.jiufengte.chapter02.Activity02" />
        <activity android:name="com.demo.jiufengte.chapter03.Activity03" />
        <activity android:name="com.demo.jiufengte.chapter04.Activity04" />
        <activity android:name="com.demo.jiufengte.chapter04a.Activity04a" />
        <activity android:name="com.demo.jiufengte.chapter05.a.Activity05a" />
        <activity android:name="com.demo.jiufengte.chapter05.b.Activity05b" />
        <activity android:name="com.demo.jiufengte.chapter05.c.Activity05c" />
        <activity android:name="com.demo.jiufengte.chapter05.d.LazyActivity" />

        <activity
            android:name=".zee.ZeeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".zee.chapter01.ManualActivity" />
        <activity android:name=".zee.chapter02.a.ActivityA" />
        <activity android:name=".zee.chapter02.b.ActivityModule" />
        <activity android:name=".zee.chapter02.c.ActivitySingleton" />
        <activity android:name=".zee.chapter02.c.SecondActivity" />
        <activity android:name=".zee.chapter02.d.ActivityScope" />
        <activity android:name=".zee.chapter02.d.SecondActivity" />
        <activity android:name=".zee.chapter02.e.ActivityDependency" />
        <activity android:name=".zee.chapter02.f.ActivitySubcomponent" />
        <activity android:name=".zee.chapter02.f.SecondActivity" />
        <activity android:name=".zee.chapter02.g.ActivityBinds" />
        <activity android:name=".zee.chapter02.h.ActivityQualifier" />

    </application>

</manifest>